.App {
    padding: 20px;
    height: 100%; /*change*/
}

.p-steps .p-steps-item {
    width: calc(100% / 6)
}

.viewer {
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.property-panel {
    overflow: auto;
    flex-direction: column;
    min-width: 300px;
}

.property-panel .infra{
    width: 300px;
}

.container-process {
    display: flex;
    flex-direction: row;
    height: 350px;
}

.container-compliance {
    height: 350px;
}

.container-infra {
    display: flex;
    flex-direction: row;
    height: 350px;
}